.family-page {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .family-page img {
    width: 100%;
    height: auto;
    display: block;
  }
  
 
  @media only screen and (max-width: 600px) {
    .family-page {
      max-width: 100%;
    }
  }